@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<p>Navigate to the Income Records page:</p>
<a href="@Url.Action("Index", "IncomeRecord")" class="btn btn-primary">Income Records</a>